<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Errors</title>
</head>
<body>
    <table>
        <thead>
            <th> username</th>
            <th>password</th>
            <th> gmail</th>
            <th>phone no</th>
        </thead>
        <tbody>
            <td>errors sorry try again</td>
        </tbody>
    </table>
</body>
</html>